<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>In My Language</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,400italic,700' rel='stylesheet' type='text/css'>

  <!-- use these cartodb.css links if you are using https -->
  <link rel="stylesheet" href="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= yield %>

  <!-- use this cartodb.js link if you are using https -->
  <script src="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>

  <%= javascript_include_tag 'application' %>

  <script charset="utf-8">
    <% if ENV["RAILS_ENV"] == "production" %>

      <%= javascript_include_tag 'bundle'  %>

    <% else %>
      console.warn("Development mode. Make sure to start 'npm run hot'");
      var script = "http://" + (location.host || 'localhost').split(':')[0] + ":8080/assets/App_wp_bundle.js"
    <% end %>
      document.write('<script src="' + script + '"></' + 'script>');
  </script>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75127257-1', 'auto');
  ga('send', 'pageview');

  </script>

</body>
</html>
